<?xml version="1.0"?>
<launch>
  
  <!-- start  -->
  <include file="$(find robot_blue)/launch/start_nav_nodes.launch" />

  <!-- parameters loading -->
  <rosparam command="load" file="$(find app_old)/params/loc_GeoLoc_online.yaml" />
  
  <!-- Fusion-based localization by optimization process -->
  <include file="$(find geo_localization)/launch/node.launch" />

  <!-- GPS observations in odometry format -->
  <node pkg="gps_to_odom" type="gps_to_odom" name="gps_to_odom" output="screen">
  </node>
  
  <!-- lidar odometry -->
  <include file="$(find pc2image)/launch/ouster_image.launch" />
  <include file="$(find odom_estimation_pc)/launch/odomEstimation_ouster.launch" />   

  <!-- Nodes to ground lines detection -->
  <node pkg="merged_channels_ouster" name="merge_channels" type="merge_channels_ouster.py"></node>
  <include file="$(find image2pcl)/launch/image2pcl.launch" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find app_old)/rviz/nav_geoloc.rviz" />
  
</launch>
