<?xml version="1.0"?>
<launch>

  <!-- rosbags list -->
  <include file="$(find robot_blue)/launch/start_dataset_nodes.launch" />

  <node pkg="merged_channels_ouster" name="merge_channels" type="merge_channels_ouster.py"></node>

  <include file="$(find image2pcl)/launch/image2pcl.launch" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find applications)/rviz/loc_real.rviz" />
  
</launch>
