<?xml version="1.0"?>
<launch>

  <!-- rosbags list -->
  <arg name="bag_file_1" default="/home/mice85/aurova-lab/labrobotica/dataset/2023-03-06_loc_and_plann/2023-03-06-15-37-47.bag"/>
  
  <!-- parameters loading -->
  <rosparam command="load" file="$(find applications)/params/loc_GeoLoc_offline.yaml" />
  
  <!-- Fusion-based localization by optimization process -->
  <include file="$(find geo_localization)/launch/node.launch" />


  <node pkg="rosbag" type="play" name="rosbagplay" args="$(arg bag_file_1) --clock -d 5" required="true" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find applications)/rviz/nav_geoloc.rviz" />
  
</launch>
