<?xml version="1.0"?>
<launch>

  <include file="$(find tracker_filter)/launch/tracker_filter.launch" />

  <rosparam command="load" file="$(find applications)/params/nav_follow_online.yaml" />
  <!-- select your robot -->
  <include file="$(find robot_blue)/launch/start_follow_nodes.launch" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find applications)/rviz/nav_follow.rviz" />

  <node name="local_planning" pkg="local_planning" type="local_planning">
    <remap from="semilocal_goal" to="target" />
    <remap from="velodyne_points" to="ouster_filtered" />
  </node>
  
  <include file="$(find lidar_obstacle_detection)/launch/ouster_obstacles.launch">
    <arg name="pcTopic" value="/ouster_filtered"/>
  </include> 
  
</launch>
