<?xml version="1.0"?>
<launch>

  <!-- rosbags list -->
  <arg name="bag_file_1" default="/home/aurova/aurova-lab/labrobotica/dataset/2023-06-13_circuits_12345_no-rtk/2023-06-13-08-44-15.bag"/>
  <arg name="bag_file_2" default="/home/aurova/aurova-lab/labrobotica/dataset/2023-06-13_circuits_12345_no-rtk/2023-06-13-08-51-47.bag"/>
  <arg name="bag_file_3" default="/home/aurova/aurova-lab/labrobotica/dataset/2023-06-13_circuits_12345_no-rtk/2023-06-13-09-09-15.bag"/>
  <arg name="bag_file_4" default="/home/aurova/aurova-lab/labrobotica/dataset/2023-06-13_circuits_12345_no-rtk/2023-06-13-09-17-13.bag"/>
  <arg name="bag_file_5" default="/home/aurova/aurova-lab/labrobotica/dataset/2023-06-13_circuits_12345_no-rtk/2023-06-13-09-25-07.bag"/>
  
  <!-- parameters loading -->
  <rosparam command="load" file="$(find app_geo_localization)/params/nav_GeoLoc_offline.yaml" />

  <!-- select your robot -->
  <include file="$(find robot_blue)/launch/components/start_tf.launch" />
  
  <!-- Fusion-based localization by optimization process -->
  <include file="$(find geo_localization)/launch/node.launch" />

  <!-- GPS observations in odometry format -->
  <node pkg="gps_to_odom" type="gps_to_odom" name="gps_to_odom" output="screen">
  </node>
  
  <!-- lidar odometry -->
  <include file="$(find pc2image)/launch/ouster_image.launch" />
  <include file="$(find odom_estimation_pc)/launch/odomEstimation_ouster.launch" />   

  <!-- Nodes to ground lines detection -->
  <node pkg="merged_channels_ouster" name="merge_channels" type="merge_channels_ouster.py"></node>

  <node pkg="image2pcl"   type="image2pcl_node" name="image2pcl" output="screen"/>

  <node pkg="rosbag" type="play" name="rosbagplay" args="$(arg bag_file_4) --clock -d 5 -r 1.0 -s 0" required="true" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find app_old)/rviz/nav_geoloc.rviz" />
  
</launch>