<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find app_tracker_fusion)/params/nav_follow_offline.yaml" />
  <!-- select your robot -->
  <include file="$(find robot_blue)/launch/components/start_tf.launch" />

  <node pkg="tracker_filter" type="tracker_filter" name="tracker_filter" output="screen"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find app_tracker_fusion)/rviz/nav_follow.rviz" />

  <node name="local_planning" pkg="local_planning" type="local_planning" >
    <remap from="semilocal_goal" to="target" />
    <remap from="velodyne_points" to="ouster_filtered" />
  </node>

  <include file="$(find lidar_obstacle_detection)/launch/ouster_obstacles.launch">
    <arg name="pcTopic" value="/ouster_filtered"/>
  </include> 
  
</launch>
